body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.main_box {
    border: 3px solid whitesmoke;
    padding: 20px;
}

#email_field {
    width: 250px;
}

.password_field {
    width: 250px;
    display: flex;
    justify-content: space-around;
}

#password_field {
    width: 250px;
}

button {
    width: 250px;
}

#sign_up {
    width: 300px;
}

.new_member {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    width: 100%;
    border-top: 3px solid whitesmoke;
    display: flex;
    flex-direction: column;
}

.blue_buttons {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#blue_buttons {
    display: flex;
    justify-content: space-evenly;
}

#continue_button {
    background-color: rgb(211, 184, 8);
}

#sign_up {
    background-color: gray;
}